@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.Name.Split(',').First() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("User Register", "Registration", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login as User", "Login", "UserLogin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Login as Vendor", "Login", "VendorLogin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Login as Admin", "Login", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
