@model IEnumerable<PayRentAndUse_V3.Models.BookingClass>
@{
    ViewBag.Title = "BookingDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 0)
{
    <h2>@ViewData["UserName"] Booking Detail</h2>
    foreach (var (Booking, index) in Model.Select((value, i) => (value, i)))
    {
        <h3>Booking @(index+1)</h3>
        <ul>
            <li><b>Name : </b> @Booking.UserClass.Name</li>
            <li><b>Vendor Name : </b> @Booking.VendorClass.Name</li>
            <li><b>Vehicle Name : </b> @Booking.VehicleClass.Name</li>
            <li><b>No. Of Vehicle Booked : </b> @Booking.RequiredVehicle </li>
            <li><b>Form Booking Date : </b> @Booking.FromBookingDate.ToString("dddd, dd MMMM yyyy")</li>
            <li><b>To Booking Date : </b> @Booking.ToBookingDate.ToString("dddd, dd MMMM yyyy")</li>
            <li><b>Total Booking Days : </b>@(Booking.ToBookingDate.Subtract(Booking.FromBookingDate).TotalDays)</li>
            <li><b>Total Amount : </b> @Booking.PaymentAmount</li>
        </ul>
        if (User.IsInRole("user"))
        {
            <p >@Html.ActionLink("Cancel Booking", "Cancel", "User", new { id = Booking.Id }, null)</p>
            <p>@Html.ActionLink("Booking Completed", "Completed", "User", new { id = Booking.Id }, null)</p>
        }
        
    }
}
else
{
    <h2>Booking not available for user @ViewData["UserName"] </h2>
}



