@model PayRentAndUse_V3.Models.FeedbackClass

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <h2>Thank You for Booking with Us !!!!. </h2>
    <p>Please Provide your valuable feedback</p>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("User Name : ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("User Name", new { htmlAttributes = new { @class = "form-control", @Value = ViewData["UserName"], @readonly = "readonly" } })
            @Html.EditorFor(model => model.UserClassId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" , @Value = ViewData["Id"] } })
            @Html.ValidationMessageFor(model => model.UserClassId, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Rating, new List<SelectListItem>
                { new SelectListItem{Text="Excellent", Value="Excellent"},
                  new SelectListItem{Text="Very Good", Value="Very Good"},
                  new SelectListItem { Text = "Good", Value = "Good" },
                  new SelectListItem { Text = "Fair", Value = "Fair" },
                  new SelectListItem { Text = "Average", Value = "Average" }},"Select One", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FeedBack, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.FeedBack, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeedBack, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
